.completedContainer {
    display: grid;
    grid-template-rows: 1fr 1fr1 fr;
    padding-left: 35%;
    grid-gap: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-bottom: 1px solid black
}
.completedImage{
    height: 200px;
    margin-left: 15%
}
.messageMargin {
    margin-left: 15%
}
.emptyCartButton {
    margin-bottom: 10%;
    margin-left: 2%
}