.mainCartGridCol {
    padding-left: 8%;
    padding-bottom: 2%;
    color:grey
  }
  
  .cartGridCol {
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr;
    color: grey;
  }

  .mainCartGrid {
    padding-left: 8%;
    padding-bottom: 2%;
    color:grey
  }
  
  .cartGridCol {
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr;
    color: grey;
  }
  .btn-black {
    background: transparent;
    text-transform: capitalize;
    font-size: 0.8rem !important;
    color: black;
    border-radius: 0 !important;
    border: 0.1rem solid black;
    cursor: pointer;
  }
  
  .buttonCart {
    background-color: white;
    border: none;
    padding: 0 5px;
  }
  .buttonBorder{
    border: none;
    font-size: 12px
  }
  .buttonLayer{
    border-radius: 50em;
    color: black;
    height: 40px;
    width: 100px;
  }
  .titleWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-right: 2%;
    font-weight: bold;
    color: black
  }
  .borderBottom {
    border-bottom: 1 black
  }
  
  @media screen and (max-width: 375px) {
    .mainCartGridCol {
      display:none;
    }
  }