.cartTotalGrid {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  padding-left: 8%;
  padding-top: 1%;
  padding-bottom: 3%;
  border-bottom: 5px solid black;
}
.checkoutButton {
  background-color: #fbb03b;
  color: black;
  border-radius: 50em;
  height: 48px;
  width: 133px;
}

.backButton {
  border: none;
  margin-left: 15px
  
}
@media screen and (max-width: 375px) {
  .cartTotalGrid {
    display: grid;
    grid-gap: 10px

  }
}