.emptyCart {
    display: grid;
    padding-top: 20%;
    padding-left: 37%;
    grid-gap: 15%;
    padding-bottom: 20%;
    font-size: 50px;
    border-bottom: 1px solid black
}
.emptyCartButton {
    background-color: #fbb03b;
    color: black;
    height: 48px;
    width: 500px;
    border-radius: 20rem;
    font-size: 20px
}
.cartMargin {
    margin-left: 4%
}
.cartMarginTwo {
    margin-left: 8%
}