.checkOutGrid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  padding-left: 8%;
  height: 100%;
  grid-gap: 50px;
}
.buttonCheckout {
  background-color: #fbb03b;
  color: black;
  border-radius: 50em;
  height: 30px;
  width: 78px;
  margin-bottom: 3%;
  margin-right: 2%;
  margin-bottom: 5%;
}
.buttonCheckoutTwo {
  background-color: white;
  color: black;
  border-radius: 50em;
  height: 30px;
  width: 78px;
  margin-bottom: 3%;
  margin-bottom: 5%;
}
.header {
  padding-top: 3%;
  padding-bottom: 10%;
}
.inputGrid {
  border-radius: 50em;
  height: 30px;
  width: 210px;
  text-align: center;
  border: 1px solid black
}
.inputTop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  padding-right: 5px;
}
.paymentTop {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}
.deliveruMethod {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}
.paymentButton {
  border-radius: 50em;
  height: 50px;
  width: 120px;
  text-align: center;
}
.paymentButtonTwo {
  border-radius: 50em;
  height: 50px;
  width: 220px;
  text-align: center;
}
.buttonGrid {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  padding-left: 8%;
  padding-top: 3%;
  padding-bottom: 2%;
  border-bottom: 5px solid grey;
}
.checkoutButton {
  background-color: #fbb03b;
  color: black;
  border-radius: 50em;
  height: 48px;
  width: 133px;
}

.CheckoutItemGrid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 3%;
  grid-gap: 3%

}
.cartTotalButton {
  border: none;
  background-color: lightgrey;
  color: black;
  border-radius: 50em;
  height: 48px;
  width: 233px;
  margin-left: 20%;
}
@media screen and (max-width: 375px) {
  .checkOutGrid {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr
  }
  
}