.gridDetails {
  display: grid;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.images img {
  width: 100%;
}
.detailsGridTwo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
}
.images2 img {
  width: 30%;
}
.detailsGridThree {
  /* grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr;
      grid-gap: 10px; */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.detailsGridFour {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 20px;
  padding-top: 15%;
}
.detailsGridTitle {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 2%
}
.swatches {
  height: 85px;
  border-collapse: separate;
  border-spacing: 1px;
  border: 1px solid black;
  margin-right: 20px;
}
.buttonBorder {
  border: black solid;
  border-radius: 20%;
}
.button {
  background-color: #fbb03b;
  color: black;
  border-radius: 50em;
  height: 48px;
  width: 133px;
  margin-right: 30px
}
.buttonTwo {
  background-color: white;
  color: black;
  border-radius: 50em;
  height: 58px;
  width: 183px;
  margin-top: 2%;
}
.swatchesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-top: 5%;
  padding-bottom: 15%;
  height: 20px;
}
.sizeGrid {
  padding-bottom: 5%;
  padding-right: 5%;
}

.quanittyGrid {
  padding-top: 10%;
}
.detailsButton {
  border: black solid ;
  height: 80px;
  width: 80px;
  margin-right: 25px;
  border-radius: 20%;
  font-size: 20px
}
.btg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
}
@media screen and (max-width: 1475px) {
  .btg {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .detailsButton {
    margin-bottom: 5%; 
  }
}

@media screen and (max-width: 800px) {
  .detailsGridTwo {
    grid-template-columns: 1fr
  }
  .detailsGridFour {
    padding-top: 0%;
  }
  .btg{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0%
  }
  .quanittyGrid {
    padding-bottom: 10%;
  }
}
@media screen and (max-width: 375px) {
  .detailsGridTwo {
    display:grid;
    grid-template-rows: 1fr 1fr
  }
  .quanittyGrid {
    margin-top: 15%;
  }
}