* {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* body { 
       font-family: 'Lato', sans-serif; 
   } */
/* h1, h2, h3, h4, h5, h6 { 
   font-family: 'Merriweather', serif; 
   } */

.mainContainer {
  padding: 1% 3%;
  background: white;
  display: grid;
}
.con {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 5%;
}
.color1 {
  display: grid;
  background: white;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2px;
}
/* .color2 {
  background: white;
}
.color3 {
  background: white;
} */
/* .color4 {
  background: white;
} */


.footer-nav a {
  color: black;
}
@media screen and (max-width: 600px) {
  .con {
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 20% */
    display: none
  }
}
@media screen and (max-width: 375px) {
  .con {
    display: none;
  }
}