.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  height: 56px;
  border-bottom: 5px solid grey;
}
.toolbar__navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}
.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.toolbar__logo a {
  color: blck;
  text-decoration: none;
  font-size: 1.5rem;
}
.toolbar_navigation-items a {
  color: black;
  text-decoration: none;
}
.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: #fa923a;
}
.toolbar_navigation-items li {
  padding: 0 0.5rem;
}
.spacer {
  flex: 1;
}
.toolbar__logo {
  margin-left: 10px;
}
@media (max-width: 768px) {
  .toolbar_navigation-items {
    display: none;
  }
}
