body {
  /* font-family: 'Poppins', sans-serif; */
  font-family: sans-serif
}
.box1 {
  color: black;
}
.box2 {
  color: black;
}
.overflow-visible {
  white-space: initial;
}
.box3 {
  color: black;
}
.Header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 15vh;
}
.headLinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
}



.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 4%;
}
.productgrid {
  display: grid;
  padding-bottom: 5%;
}
@media screen and (max-width: 600px) {
  .try {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
  }
}
.images img {
  width: 100%;
}
